html,body{
    margin: 0%;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, grey,rgb(117, 117, 117));
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(255, 255, 255);
}

body::-webkit-scrollbar{
    display: none;
}

hr{
    margin: 0%;
}

.self h2, .other h2{
    margin: 0%;
    width: fit-content;
}

.self, .other{
    height:10%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    
}

.other #wait{
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.board{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}

.cell {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    color: red;
}

.cell:hover {
    background-color: #ddd;;
}

.wave {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    opacity: 0;
    animation: fadeInOut 2s infinite;
}

.dot:nth-child(1) {
    animation-delay: 0s;
}

.dot:nth-child(2) {
    animation-delay: 0.3s;
}

.dot:nth-child(3) {
    animation-delay: 0.6s;
}

.dot:nth-child(4) {
    animation-delay: 0.9s;
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}