:root{
    /* root block to declare variables */
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
}
  
.main{
    width: 100%;
    height: 100%;
    background-image: url("/static/images/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}

.myform{
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    height: fit-content;
    width:300px;
}

.main .myform #playername, .main .myform #roomname{
    border: none;
    border-radius: 5px;
    height: 30px;
    background: rgba(255, 255, 255, 0.65);
    padding: 5px;
    color: rgb(0, 0, 0);
    font-size: larger;
    outline: none;
}

.main #room-error-message, .main #room-not-exist-message, .main #room-full-error-message{
    color: #ff0000;
    margin: 0%;
    display: none;
    
}

.main #room-created-message{
    color: green;
    display: none;
}

input::placeholder{
    color: rgb(42, 42, 42);
    font-size: medium;
}


.main .myform .buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.main .myform .buttons button{
    flex: 1;
    height: 35px;
    border-radius: 7px;
    cursor: pointer;
    border: none;
    color: rgb(0, 0, 0);
}

.main .myform .buttons button:hover{
    background-color: rgb(208, 94, 37);
    transition:0.5s ease-out;
}


