<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAME ROOM</title>
    <link rel="stylesheet" href="/static/css/gameroom.css">
</head>
<body>
    <section class="self">
        <h2 id="name">
            Player1 : You(Venu)
        </h2>
    </section>
    <hr>
    <section class="board">
        <div class="grid">
            <div class="cell" id="cell-1"></div>
            <div class="cell" id="cell-2"></div>
            <div class="cell" id="cell-3"></div>
            <div class="cell" id="cell-4"></div>
            <div class="cell" id="cell-5"></div>
            <div class="cell" id="cell-6"></div>
            <div class="cell" id="cell-7"></div>
            <div class="cell" id="cell-8"></div>
            <div class="cell" id="cell-9"></div>
        </div>
    </section>
    <hr>
    <section class="other">
        <h2 id="name">
            Player2 : Murali
        </h2>
    </section>   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"></script>
    <script src="/static/js/gamerrom.js"></script>
</body>
</html>