<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <section class="main">
        <form class="myfrom">
            <input type="text" id="playername" placeholder="Enter the Player name" required><br>
            <input type="text"id="roomname" pattern="\S+" minlength="6" title="spaces are not allowed" placeholder="Enter the Room name" required><br>
            <section class="buttons">
                <button onclick="" disabled>Create Room</button>
                <button onclick="" disabled>Join Room</button>
            </section>
        </form>
    </section>
</body>
</html>