<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic-Tac-Toe</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <section class="main">
        <h2 id="room-created-message">Room created successfully and login now</h2>
        <h2 id="room-error-message">Room name is Already taken try a new one</h2>
        <h2 id="room-full-error-message">Room is full</h2>
        <h2 id="room-not-exist-message">Room does not exist</h2>
        <form class="myform">
            <input type="text" class="inputs" id="playername" placeholder="Enter the Player name" required><br>
            <input type="text" class="inputs" id="roomname" pattern="\S+" minlength="6" title="spaces are not allowed" placeholder="Enter the Room name" required><br>
            <section class="buttons">
                <button type="submit" id="create-room-button" >Create Room</button>
                <button type="submit" id="join-room-button" >Join Room</button>
            </section>
        </form>
    </section>
    <script src="/static/js/index.js"></script>
</body>
</html>